.nav-pills {
  font-family: 'Abel', sans-serif;
  font-size: 1.3em;
  background-color:white;
  padding: 5px;
}

.nav.nav-pills li a {
  color: black;
}

.pgone {
    background: url("https://source.unsplash.com/3kzlCL3rj8A/9444×5770");
    background-size: cover;
    height: 800px;
    padding: 50px;
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
}




body {
  font-family: 'rufina', sans-serif;
  padding-top: 20px;
}

h1 {
    padding: 100px 0 25px 0;
    margin-top: 0px;
    font-size: 85px;
    color: white;
    font-family: 'Abel', sans-serif;
}

p {
  color: white;
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;

  margin-left: 25px;
  color: #000000;


}

h3 {
  color:#000000;

}

h4{
  color: #000000;
}
